.button {
    font-size: 1em;
    padding: 1em 5em;
    border-radius: 0.3em;
    border: 0.2em solid transparent;
    background-color: #242029;
    color:ivory;
    font-family: 'Outfit';
    font-weight: 600;
}

.pairing {
    padding-top: 30%;
    font-family: 'Outfit';
    position: absolute;
    z-index: 2;
    align-items: center;
    width: 100vw;
    height: 100%;
    background-color: white 30%;
    backdrop-filter: blur(0.4em);
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: 100;
}

.powered {
    width: 10em;
    padding-top: 2em;
}